In [6]:
!pip install -q mysql-connector-python

In [7]:
import mysql.connector as connector

In [8]:
password = "PassWord@098123"

In [9]:
with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:    
        sql = """show databases;"""

        cursor.execute(sql)
        print(cursor.column_names)
        for row in cursor.fetchall():
            print(row)

('Database',)
('information_schema',)
('little_lemon',)
('mysql',)
('performance_schema',)
('sys',)

In [10]:
# with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

#     with conn.cursor() as cursor:    
#         sql = """create database little_lemon;"""
#         cursor.execute(sql)

#         sql = """show databases;"""
#         cursor.execute(sql)
#         print(cursor.column_names)
#         for row in cursor.fetchall():
#             print(row)

# Exercise 1

In [11]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""


create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""


create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""


create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [12]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [13]:
sql_query_list = [
    create_menuitem_table, create_menu_table,
    create_booking_table, create_orders_table,
    create_employees_table, insert_menuitems, insert_menu,
    insert_bookings, insert_orders, insert_employees
]

In [14]:
with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")
        
        for query in sql_query_list:
            cursor.execute(query)
        
    conn.commit()

In [15]:
with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")

        cursor.execute("show tables;")
        print(cursor.column_names)

        for row in cursor.fetchall():
            print(row)

('Tables_in_little_lemon',)
('Bookings',)
('Employees',)
('MenuItems',)
('Menus',)
('Orders',)

In [16]:
query = """
select * from Bookings;
"""

with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")

        cursor.execute(query)
        print(cursor.column_names)

        for row in cursor.fetchall():
            print(row)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

# Exercise 2

In [27]:
query = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT 
        tbl1.BookingHour as booking_hour,
        COUNT(tbl1.BookingHour) as num_booking
    FROM
        (SELECT HOUR(BookingSlot) as BookingHour from Bookings) as tbl1
    GROUP BY booking_hour
    ORDER BY num_booking DESC;
END
"""

with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")
        cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
        cursor.execute(query)
        cursor.callproc('PeakHours')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        
        print(columns)

        for data in dataset:
            print(data)

['booking_hour', 'num_booking']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/651547377.py:21: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results = next(cursor.stored_results())
/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/651547377.py:24: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for column_id in cursor.stored_results():

In [20]:
query = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT
        Bookings.BookingID as OrderNumber,
        CONCAT(GuestFirstName, ' ', GuestLastName) as GuestName,
        Role as Employee,
        CASE
            WHEN Role IN ('Manager', 'Assitant Manager') THEN "Ready to Pay"
            WHEN Role = "Head Chef" THEN "Ready to serve"
            WHEN Role = "Assistant Chef" THEN "Preparing Order"
            WHEN Role = "Head Waiter" THEN "Order served"
            ELSE "PENDING"
        END as Status
    FROM Bookings
    LEFT JOIN Employees
    ON Employees.EmployeeID = Bookings.EmployeeID;
END 
"""

with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")
        cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus;")
        cursor.execute(query)
        cursor.callproc('GuestStatus')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        
        print(columns)

        for data in dataset:
            print(data)

['OrderNumber', 'GuestName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing Order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'PENDING')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/1798439136.py:28: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results = next(cursor.stored_results())
/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/1798439136.py:31: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for column_id in cursor.stored_results():

# Exercise 3

In [21]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

new_booking1 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (8, "Anees", "Java", "18:00:00", 6);
"""
new_booking2 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (5, "Vin", "Bald", "19:00:00", 6);
"""
dbconfig = {
    "database": "little_lemon",
    "user": "root",
    "password": "demo@098123",
    "host": "localhost",
    "port": 8888
}

try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool is created with name:", pool.pool_name)
except Error as err:
    print(err.errno, err.msg)


with pool.get_connection() as conn:

    with conn.cursor() as cursor:
        cursor.execute("use little_lemon;")

        cursor.execute(new_booking1)
        cursor.execute(new_booking2)
    conn.commit()

1045 Access denied for user 'root'@'192.168.65.1' (using password: YES)

NameError: name 'pool' is not defined

In [22]:
try:
    connection = pool.get_connection()
    print("The guest is connected")
except:
    print("Adding connection")
    connection = connector.connect(user="root", password=password, host="localhost", port=8888)
    pool.add_connection(cnx=connection)

with connection.cursor() as cursor:
    booking3 = """
    INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (12, "Jay", "Kon", "19:30:00", 6);
    """
    cursor.execute(booking3)
    connection.commit()

Adding connection

NameError: name 'pool' is not defined

In [23]:
query1 = """
SELECT
    Name, EmployeeID
FROM Employees
WHERE Role = 'Manager';
"""

query2 = """
SELECT
    Name, EmployeeID
FROM Employees
ORDER BY Annual_Salary DESC LIMIT 1;
"""

query3 = """
SELECT
    COUNT(BookingId) as n_bookings
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""


query4 = """
SELECT
    Bookings.BookingID as ID,
    CONCAT(GuestFirstName, ' ', GuestLastName) as GuestName,
    Role as Employee
FROM Bookings
LEFT JOIN Employees
ON Employees.EmployeeID = Bookings.EmployeeID
WHERE Employees.Role = "Receptionist"
ORDER BY BookingSlot DESC;
"""

with pool.get_connection() as conn:
    with conn.cursor() as cursor:
        cursor.execute("USE little_lemon;")
        
        for query in [query1, query2, query3, query4]:
            cursor.execute(query)
            print(cursor.column_names)

            for res in cursor.fetchall():
                print(res)
            print("-" * 100)

NameError: name 'pool' is not defined

In [24]:
query = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) as Total_Sale,
        AVG(BillAmount) as Average_Sale,
        Min(BillAmount) as Min_Bill_Paid,
        Max(BillAmount) as Max_Bill_Paid
    FROM Orders;
END
"""
with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("USE little_lemon;")
        cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport")
        cursor.execute(query)
        cursor.callproc("BasicSalesReport")
        results = next(cursor.stored_results())
        results = results.fetchall()

        for column_id in cursor.stored_results():
            cols = [column[0] for column in column_id.description]
        
        print("Sales Report")
        for result in results:
            print(cols[0], ":", result[0])
            print(cols[1], ":", result[1])
            print(cols[2], ":", result[2])
            print(cols[3], ":", result[3])

Sales Report
Total_Sale : 243
Average_Sale : 48.6000
Min_Bill_Paid : 37
Max_Bill_Paid : 86

/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/58049130.py:18: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  results = next(cursor.stored_results())
/var/folders/h1/djwlcskd2sx4wv1g6s_thqpc0000gn/T/ipykernel_3258/58049130.py:21: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for column_id in cursor.stored_results():

In [25]:
query = """
SELECT 
    Bookings.BookingSlot,
    CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) as Guest_Name,
    Employees.Name as Emp_Name,
    Employees.Role as Emp_Role
FROM Bookings
INNER JOIN Employees
ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC;
"""
with connector.connect(host="localhost", port=8888, user="root", password=password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("USE little_lemon;")
        cursor.execute(query)
        for row in cursor.fetchall()[:3]:
            print("Booking Slot", result[0])
            print("Guest Name", result[1])
            print("Assigned to: ", result[2], "[{}]".format(result[3]))

Booking Slot 243
Guest Name 48.6000
Assigned to:  37 [86]
Booking Slot 243
Guest Name 48.6000
Assigned to:  37 [86]
Booking Slot 243
Guest Name 48.6000
Assigned to:  37 [86]